* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

h4 {
  font-size: 15px;
}

h3 {
  font-size: 18px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

hr {
  border: 1px solid rgb(240, 240, 240);
}

/* hr.hr-addFarmer {
  border: 1px solid grey;
} */

a {
  text-decoration: none;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 35px;
}

.mt-4 {
  margin-top: 45px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 5px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 35px;
}

.ml-1 {
  margin-left: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.pt-1 {
  padding-top: 20px;
}

.pt-0 {
  padding-top: 10px;
}

.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-5 {
  padding-left: 160px;
  padding-right: 160px;
}

.py-1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.align_center {
  text-align: center;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.login_signIn {
  width: 350px;
  margin: 80px auto;
}

.login_signIn #login_logo {
  text-align: center;
}

.login_background {
  height: 100vh;
  background-image: url('../images/farmer.jpg');
  background-size: cover;
  background-color: black;
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login_text {
  color: white;
}

.login_text h1 {
  font-size: 55px;
  font-weight: bold;
}

.login_text p {
  font-size: 17px;
}

.login_forgot_pass {
  color: rgb(184, 181, 181);
}

.button_full {
  width: 100%;
}

.sidebar {
  padding: 0 20px;
}

.sidebar_top_logo {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.sidebar_top_logo p {
  margin-top: 20px;
  color: rgb(184, 181, 181);
}

.sidebar_userInfo #user_photo {
  float: left;
  margin-right: 10px;
}

.sidebar_userInfo #user_name b {
  font-size: 16px;
}

.sidebar_userInfo .logout {
  float: right;
  margin-top: -15px;
  margin-right: 20px;
  cursor: pointer;
}

.sidebar_activities {
  margin-top: 50px;
}

.sidebar_activity {
  width: 100%;
  margin-bottom: 15px;
}

.sidebar_footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.fa-rotate-45 {
  transform: rotate(90deg)
}

.d-flex {
  display: flex;
}

.flex_justify_between {
  display: flex;
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-add-details {
  text-align: center;
  margin-top: 40px;
}

.full-width {
  width: 100%;
}

.profile-tab-bg {
  background-color: rgb(199, 235, 197);
  padding-left: 30px;
  padding-right: 30px;
}

.profile-tab-bg p {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

footer {
  padding: 7px;
  font-size: 10px;
}

footer p {
  font-size: 11px;
}

.inputs_table {
  margin-right: 10px;
  width: 100%;
}

.support_table .support_value {
  font-size: 12px;
  padding: 3px;
  margin-top: 5px;
  display: block;
}


@media (min-width: 1200px) {}